<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="base (head, title, body)">
<head>
	<meta charset="UTF-8">
	
	<meta th:name="_csrf" th:content="${_csrf.token}">
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	
	<div th:replace="${head}"></div>
	<title th:replace="${title}"></title>
</head>
<body>
	<div class="container-fluid">
		<div th:replace="${body}"></div>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>